.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 24px 42px;
}

.header {
  box-shadow: 0 0 10px rgba(0, 0, 0, 15%);
  margin-bottom: 20px;
}
