.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form {
  width: 400px;
  /* border: 1px solid grey; */
  border-radius: 12px;
  padding: 25px 40px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  gap: 12px;
  margin-top: 42px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 25%);
}

.btn {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin: 8px auto 16px;
}

.error {
  color: rgb(146, 44, 44);
  font-weight: 600;
}

.input {
  padding: 5px 8px;
  border-radius: 4px;
  outline: none;
  border: 1px solid grey;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 15%); */
}

.title {
  margin: 0;
  text-align: center;
}
