.container {
  display: flex;
  gap: 100px;
  align-items: stretch;
  padding: 20px 42px;
}

.prompt {
  padding: 0;
  margin: 0 0 20px 0;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    gap: 42px;
    padding: 16px;
  }
}

@media screen and (max-width: 480px) {
  .container {
    padding: 16px 8px;
  }
}
